.footer {
    background-color: #000000;
    color: #fff;
    padding:0.5em;
    text-align: center;
}

.social_list {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.social_list li {
    margin: 0 3em;
}

.social_list li:hover {
    color: #BD1616;
}

.social_list svg{
    font-size: 1.5em;
    cursor: pointer;
}

.copy_right {
    margin-top: 2em;
}

.copy_right span {
    font-weight: bold;
    color: #BD1616
}